#mainpage
{
    display: block;
}
#newuser
{
    display: none;
}
#existinguser
{
    display: none;
}
#options
{
    display: none;
}
#selectcourse
{
    display: none;
}
#enrolledcourses
{
    display: none;
}